NEXT_PUBLIC_SUPABASE_URL=REEMPLAZA_CON_TU_PROJECT_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=REEMPLAZA_CON_TU_ANON_KEY
APP_NAME=CastellanosAbogados
CONSULT_DURATION_MIN=20
TIMEZONE=America/Bogota
SUPABASE_SERVICE_ROLE_KEY=REEMPLAZA_CON_TU_SERVICE_ROLE_KEY
ADMIN_OWNER_EMAIL=tu_correo_admin@dominio.com
